#page-login {
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    background-color: white;
    border-radius: .8rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container img {
    height: 10rem;
    width: 100%;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: .8rem;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0;
}

#register-form {
    margin-top: 1rem;
    border-radius: .8rem;
    background-color: var(--color-header);
    padding: 2.6rem;
    width: 100%;
}

#register-form label {
    color: var(--color-input-label);
}

#register-form .input-block {
    position: relative;
}

#register-form .input-block + .input-block {
    margin-top: 1.4rem;
}

#register-form .input-block label {
    font-size: 1.4rem;
    font-weight: bold;
}

#register-form .input-block input {
    width: 98%;
    height: 5.6rem;
    margin-top: .8rem;
    border-radius: .8rem;
    background-color: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.support-image {
    width: 100%;
    display: none;
}

.buttons-container {
    display: flex;
    justify-content: center; 
    margin: 3.2rem 0;  
}

.buttons-container a {
    width: 30rem;
    height: 8.4rem;
    border-radius: .8rem;
    font: 700 2rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-button-text);
    margin-top: .8rem;
    transition: background-color .1s;
}

.buttons-container button {
    cursor: pointer;
    width: 30rem;
    height: 8.4rem;
    border: none;
    border-radius: .8rem;
    font: 700 2rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-button-text);
    margin-top: .8rem;
    transition: background-color .1s;
}

.buttons-container a.btn-register {
    background: var(--color-secondary-dark);
}

.buttons-container button:first-child {
    margin-right: 1.6rem;
}

.buttons-container button.btn-login {
    background: var(--color-primary);
}


.footer {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 1200px) {
    #page-login {
        width: 70vw; 
        height: 90vh;
    }

    .logo-container img {
        width: 30rem;
    }

    .middle {
        padding: 1.6rem 2rem;
    }

    .support-image {
        width: 50% !important;
        display: flex;
    }

    .buttons-container button.btn-login {
        background: var(--color-primary);
    }
    
    .buttons-container a.btn-register {
        background: var(--color-secondary-dark);
    }

    .buttons-container button.btn-login:hover {
        opacity: .8;
    }
    
    .buttons-container a.btn-register:hover {
        opacity: .8;
    }
}