label {
    color: var(--color-input-label);
}

.input-block {
    position: relative;
}

.input-block + .input-block {
    margin-top: 1.4rem;
}

.input-block label {
    font-size: 1.4rem;
    font-weight: bold;
}

.input-block input {
    width: 98%;
    height: 5.6rem;
    margin-top: .8rem;
    border-radius: .8rem;
    background-color: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}