#page-register {
    width: 100vw;
    height: 100vh;
}

#register-form {
    margin-top: 1rem;
    border-radius: .8rem;
    background-color: var(--color-header);
    padding: 2.6rem;
}

.button-container a {
    width: 20rem;
    height: 6.4rem;
    border-radius: .8rem;
    font: 700 2rem Archivo;
    display: flex;
    align-items: center;
    margin: 1.4rem auto;
    justify-content: center;
    text-decoration: none;
    color: var(--color-button-text);
    transition: background-color .1s;
}

.button-container a.btn-register {
    background: var(--color-secondary);
}

a.btn-register:hover {
    background: var(--color-secondary-dark);
}
