.page-header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-header);
    border-radius: .8rem;
    margin-top: 2rem;
}

.page-header .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-header-text);
    padding: 1.6rem 0;
}

.page-header .top-bar-container a {
    height: 3.2rem;
}

.page-header .top-bar-container > img {
    height: 1.6rem;
}

.page-header .header-content {
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin: 3.2rem auto;
}

.page-header .header-content strong {
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-header-text);
}

a.logout {
    width: 10rem;
    cursor: pointer;
    height: 6.4rem;
    border-radius: .8rem;
    font: 700 2rem Archivo;
    display: flex;
    align-items: center;
    margin: 1.4rem .2rem;
    justify-content: center;
    text-decoration: none;
    color: var(--color-button-text);
    transition: background-color .1s;
    background: var(--color-primary);
    opacity: .5;
}

a.logout:hover {
    opacity: 1;
}

