#page {
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: black;
    background-color: white;
    border-radius: .8rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    height: 5rem;
}

.header-container p {
    font-weight: 500;
    font-size: 1.4rem;
}

.header-talk {
    display: flex;
}

.header-talk + h2 {
    padding: .3rem;
}

hr {
    margin: 0 1.6rem;
    width: 70rem;
    height: .4rem;
    background: #000;
}

.header-talk h2 {
    font-weight: 500;
    font-size: 2.4rem;
    margin-left: .5rem;
}

.conteudo {
    width: 90%;
}

.conteudo .list-tickets {
    border-radius: .8rem;
    border-width: medium;
    border-style: solid;
    border-color: #a1deec;
}

nav {
    width: 100%;
}

span {
    font-size: 1.7rem !important;
}

@media(min-width: 1200px) {
    #page {
        width: 90vw; 
        height: 90vh;
    }
}