:root {
    font-size: 60%;

    --color-background: #A1DEEC;
    --color-primary-lighter: #F37579;
    --color-primary-light: #916BEA;
    --color-primary: #ED1C24;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secondary: #A1DEEC;
    --color-secondary-dark: #1BAADD;
    --color-title-in-primary: #FFFFFF;
    --color-header: #FFFFFF;
    --color-header-text: #000000;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #d4edf3;
    --color-input-label: #000000;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;

    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg:  #F37999;
    --right-msg-bg: #579ffb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.6rem Poppins;
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media(min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}