#page-register {
    width: 100vw;
    height: 100vh;
}

#register-form {
    margin-top: 1rem;
    border-radius: .8rem;
    background-color: var(--color-header);
    padding: 2.6rem;
}

.buttons-container {
    display: flex;
    justify-content: center; 
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 20rem;
    cursor: pointer;
    height: 6.4rem;
    border-radius: .8rem;
    font: 700 2rem Archivo;
    display: flex;
    align-items: center;
    margin: 1.4rem auto;
    justify-content: center;
    text-decoration: none;
    color: var(--color-button-text);
    transition: background-color .1s;
}

.buttons-container button {
    width: 20rem;
    cursor: pointer;
    height: 6.4rem;
    border-radius: .8rem;
    font: 700 2rem Archivo;
    display: flex;
    align-items: center;
    margin: 1.4rem auto;
    justify-content: center;
    text-decoration: none;
    color: var(--color-button-text);
    transition: background-color .1s;
}

.buttons-container a.btn-register {
    background: var(--color-secondary-dark);
}

a.btn-register:hover {
    opacity: .8;
}

.buttons-container button.btn-register {
    background: var(--color-secondary-dark);
}

button.btn-register:hover {
    opacity: .8;
}

#chat {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 1rem 0;
    border-radius: .8rem;
  }
  
  #enviar-mensagem {
    width: 60rem;
    height: 5rem;
    font-size: 1.4rem;
    background: #069;
    text-align: center;
    line-height: 5rem;
    font-weight: bold;
    color: #FFF;
    margin: 1rem 0;
  }
  
  .messages {
    width: 60rem;
    height: 40rem;
    margin: 2rem 0;
    border: 1px solid #999;
    background-color: #f9f9f9;
    padding: 2rem;
  }